<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Virtual Classroom</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<header>
    <h1>🎓 AI Virtual Classroom</h1>
    <p>Smart Learning using Artificial Intelligence</p>
</header>

<nav>
    <a href="/">Home</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/register">Register</a>
    <a href="/students">Students</a>
    <a href="/attendance">Attendance</a>
    <a href="/emotion">Emotion</a>
    <a href="/notes">Notes</a>
    <a href="/quiz">Quiz</a>
    <a href="/prediction">Prediction</a>
    <a href="/reports">Reports</a>
    <a href="/about">About</a>
</nav>

<section class="hero">

    <h2>Welcome to AI Virtual Classroom</h2>

    <p>
        Automate attendance using Face Recognition,
        detect student emotions, generate lecture notes,
        create quizzes automatically, and predict
        student performance with AI.
    </p>

    <a href="/dashboard">
        <button>Open Dashboard</button>
    </a>

</section>

<footer>
    <p>© 2026 AI Virtual Classroom | Final Year Project</p>
</footer>

</body>
</html>
